@mixin grid($columns: 12) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

$column: calc(100% / 12);

.container {
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 auto;
  width: $column;
}

.col-2 {
  flex: 0 0 auto;
  width: calc(#{$column} * 2);
}

.col-3 {
  flex: 0 0 auto;
  width: calc(#{$column} * 3);
}

.col-4 {
  flex: 0 0 auto;
  width: calc(#{$column} * 4);
}

.col-5 {
  flex: 0 0 auto;
  width: calc(#{$column} * 5);
}
.col-6 {
  flex: 0 0 auto;
  width: calc(#{$column} * 6);
}
.col-7 {
  flex: 0 0 auto;
  width: calc(#{$column} * 7);
}

.col-8 {
  flex: 0 0 auto;
  width: calc(#{$column} * 8);
}

.col-9 {
  flex: 0 0 auto;
  width: calc(#{$column} * 9);
}

.col-10 {
  flex: 0 0 auto;
  width: calc(#{$column} * 10);
}

.col-11 {
  flex: 0 0 auto;
  width: calc(#{$column} * 11);
}

.col-12 {
  flex: 0 0 auto;
  width: calc(#{$column} * 12);
}
